body {
  margin: 0;
  font-family: "Manrope", sans-serif, "Segoe UI", Ubuntu, "Helvetica Neue",
    "SF Pro Display", -apple-system, system-ui, BlinkMacSystemFontsans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
